<div class="home-page container">
    <h1>Welcome to the Nutrition Assistant</h1>
    <p class="description container">
      The Nutrition Assistant is here to help you achieve your health and wellness goals through personalized nutrition guidance.
      Whether you want to maintain a balanced diet, support growth and development, or manage your weight, our assistant can provide valuable insights and recommendations tailored to your needs.
    </p>
    <p class="description container">
      To get started, simply click the "Go and Get Diet Plans" button below and answer a few questions about your age, height, and weight.
      Based on this information, our assistant will provide you with personalized nutrition advice to support your specific goals.
    </p>
    <div class="nutrition-images">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYkdUhU7kxlbQ50s6bRY7jQ6h21zaOxAWRzCogcCO9&s" alt="Nutrition 1" class="image">
      <img src="https://media.istockphoto.com/id/1409236261/photo/healthy-food-healthy-eating-background-fruit-vegetable-berry-vegetarian-eating-superfood.webp?b=1&s=170667a&w=0&k=20&c=KdkqtpvIHgiMk4ZEqlXDt53NjYYszTccGrnHJKkecF0=" alt="Nutrition 2" class="image">
      <img src="https://thumbs.dreamstime.com/b/healthy-eating-ingredients-fresh-vegetables-fruits-superfood-nutrition-diet-vegan-food-concept-healthy-eating-ingredients-139260847.jpg" alt="Nutrition 3" class="image">
    </div>
    <button class="get-started-button p-3 pl-5 pr-5 mb-5 mt-5" style="border-radius: 30px;font-size: 24px; font-weight: bold;box-shadow: 0px 2px 20px rgb(0, 0, 0);" routerLink="/suggestions-form">Go and Get Diet Plans</button>
  
    <div class="about-section mt-5" style="box-shadow: 0px 2px 20px rgb(0, 0, 0);">
      <h2>About Us</h2>
      <p>
        Our team of experienced nutritionists and dietitians is passionate about promoting healthy eating habits and helping individuals lead a balanced lifestyle.
        We believe that proper nutrition is key to achieving optimal well-being, and our goal is to empower you with personalized guidance and support along your journey.
      </p>
    </div>
  
    <div class="contact-section" style="box-shadow: 0px 2px 20px rgb(0, 0, 0);">
      <h2>Contact Us</h2>
      <p>
        If you have any questions, suggestions, or feedback, feel free to reach out to us. We'd love to hear from you!
      </p>
      <p>Email: info@nutritionassistant.com</p>
      <p>Phone: 832-835-9472</p>
    </div>
  
    <footer class="footer">
      <p>&copy; 2023 Nutrition Assistant. All rights reserved.</p>
    </footer>
  </div>
  